# docker-compose.yml 绝对路径
DPE_COMPOSE=/home/suyar/repo/docker-php-env/docker-compose.yml
# 挂载的 DIR_SOURCE 绝对路径
DPE_SOURCE=/home/suyar/repo

dpe_workdir() {
    local cwd=$PWD
    local workdir
    local subdir

    if [[ ${cwd} =~ ^${DPE_SOURCE}/?$ ]]; then
        workdir=/www
    elif [[ ${cwd} =~ ^${DPE_SOURCE}/.+ ]]; then
        subdir=${cwd#${DPE_SOURCE}}
        if [[ -n $subdir ]]; then
            workdir=/www${subdir}
        fi
    fi

    echo $workdir
}

tophp() {
    if [[ $# -lt 1 ]]; then
        local version=php83
    else
        local version=$1
    fi

    local workdir=$(dpe_workdir)

    if [[ -z $workdir ]]; then
        workdir=/www
    fi

    sudo docker compose -f "${DPE_COMPOSE}" exec -u $(id -u):$(id -g) -w "${workdir}" "${version}" bash
}

alias tophp83='tophp php83'

tonginx() {
    local workdir=$(dpe_workdir)

    if [[ -z $workdir ]]; then
        workdir=/www
    fi

    sudo docker compose -f "${DPE_COMPOSE}" exec -w "${workdir}" nginx bash
}

tomysql() {
    sudo docker compose -f "${DPE_COMPOSE}" exec mysql bash
}

php() {
    local workdir=$(dpe_workdir)
    local version
    local params

    if [[ -z $workdir ]]; then
        echo "当前目录不属于 ${DPE_SOURCE}"
        return
    fi

    if [[ $# -ge 1 && $1 =~ ^php[0-9]{2}$ ]]; then
        version=$1
        params=${@:2}
    else
        version=php83
        params=$@
    fi

    sudo docker compose -f "${DPE_COMPOSE}" exec -u $(id -u):$(id -g) -w "${workdir}" "${version}" php ${params}
}

alias php83='php php83'

composer() {
    local workdir=$(dpe_workdir)
    local version
    local params

    if [[ -z $workdir ]]; then
        echo "当前目录不属于 ${DPE_SOURCE}"
        return
    fi

    if [[ $# -ge 1 && $1 =~ ^php[0-9]{2}$ ]]; then
        version=$1
        params=${@:2}
    else
        version=php83
        params=$@
    fi

    sudo docker compose -f "${DPE_COMPOSE}" exec -u $(id -u):$(id -g) -w "${workdir}" "${version}" composer ${params}
}

alias composer83='composer php83'
