name: dpe

services:
  mysql:
    image: mysql:${MYSQL_VERSION}
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_HOST: "%"
    volumes:
      - mysql-data:/var/lib/mysql
      - ${DIR_SERVICES}/mysql/my.cnf:/etc/mysql/my.cnf:ro
      - ${DIR_SERVICES}/mysql/docker.cnf:/etc/mysql/conf.d/docker.cnf:ro
      - ${DIR_SERVICES}/mysql/zz-custom.cnf:/etc/mysql/conf.d/zz-custom.cnf:ro
    hostname: mysql
    ports:
      - "${MYSQL_HOST_PORT}:3306"
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  redis:
    image: redis:${REDIS_VERSION}
    environment:
      TZ: ${TZ}
    volumes:
      - redis-data:/data
      - ${DIR_SERVICES}/redis/redis.conf:/etc/redis.conf:ro
    hostname: redis
    ports:
      - "${REDIS_HOST_PORT}:6379"
    command: [ "redis-server", "/etc/redis.conf" ]
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  memcached:
    image: memcached:${MEMCACHED_VERSION}
    environment:
      TZ: ${TZ}
    hostname: memcached
    ports:
      - "${MEMCACHED_HOST_PORT}:11211"
    command: [ "memcached", "-m", "${MEMCACHED_MEMORY}" ]
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  php83:
    image: suyar/php:8.3-integration
    environment:
      TZ: ${TZ}
      COMPOSER_ALLOW_SUPERUSER: 1
      COMPOSER_HOME: /tmp/composer
    volumes:
      - ${DIR_SERVICES}/php83/php.ini:/usr/local/etc/php/php.ini:ro
      - ${DIR_SERVICES}/php83/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-custom.conf:ro
      - ${DIR_SERVICES}/php83/supervisor.conf:/etc/supervisor/conf.d/service.conf:ro
      - ${DIR_LOGS}/php83/supervisor:/var/log/supervisor
      - ${DIR_LOGS}/php83/log:/var/log/php
      - ${DIR_SOURCE}:/www
    working_dir: /www
    hostname: php83
    cap_add:
      - SYS_PTRACE
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  nginx:
    image: nginx:${NGINX_VERSION}
    environment:
      TZ: ${TZ}
    volumes:
      - ${DIR_SERVICES}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${DIR_SERVICES}/nginx/conf.d:/etc/nginx/conf.d:ro
      - ${DIR_SERVICES}/nginx/ssl:/etc/nginx/ssl:ro
      - ${DIR_LOGS}/nginx:/var/log/nginx
      - ${DIR_SOURCE}:/www
    working_dir: /www
    hostname: nginx
    ports:
      - "${NGINX_HTTP_HOST_PORT}:80"
      - "${NGINX_HTTPS_HOST_PORT}:443"
    networks:
      default:
        aliases:
          - example.laravel.local
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  rabbitmq:
    image: rabbitmq:${RABBITMQ_VERSION}
    environment:
      TZ: ${TZ}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ${DIR_SERVICES}/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ${DIR_SERVICES}/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins:ro
    hostname: rabbitmq
    ports:
      - "${RABBITMQ_HOST_PORT}:5672"
      - "${RABBITMQ_MANAGE_HOST_PORT}:15672"
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  mongo:
    image: mongo:${MONGODB_VERSION}
    environment:
      TZ: ${TZ}
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
      - ${DIR_SERVICES}/mongodb/mongod.conf:/etc/mongo/mongod.conf:ro
    hostname: mongodb
    ports:
      - "${MONGODB_HOST_PORT}:27017"
    command: [ "--config", "/etc/mongo/mongod.conf" ]
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  elasticsearch:
    image: elasticsearch:${ELASTICSEARCH_VERSION}
    environment:
      - TZ=${TZ}
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - ${DIR_SERVICES}/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    hostname: elasticsearch
    user: 1000:1000
    ports:
      - "${ELASTICSEARCH_HOST_PORT}:9200"
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  kibana:
    image: kibana:${ELASTICSEARCH_VERSION}
    environment:
      TZ: ${TZ}
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
      I18N_LOCALE: ${kIBANA_I18N_LOCALE}
    hostname: kibana
    ports:
      - "${kIBANA_HOST_PORT}:5601"
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK
    environment:
      TZ: ${TZ}
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ${DIR_LOGS}/clickhouse:/var/log/clickhouse-server
      - ${DIR_SERVICES}/clickhouse/config.d:/etc/clickhouse-server/config.d:ro
      - ${DIR_SERVICES}/clickhouse/users.d:/etc/clickhouse-server/users.d:ro
    hostname: clickhouse
    ports:
      - "${CLICKHOUSE_PORT}:8123"
    networks:
      - default
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

volumes:
  mysql-data:
  redis-data:
  rabbitmq-data:
  mongo-data:
  elasticsearch-data:
  clickhouse-data:

networks:
  default:
    driver: bridge
