[client]
default-character-set   = utf8mb4

[mysql]
default-character-set   = utf8mb4

[mysqld]
sql-mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
default-authentication-plugin   = mysql_native_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
skip-log-bin
slow-query-log          = ON
long-query-time         = 1
slow-query-log-file     = /var/log/mysql/slow.log
log-error               = /var/log/mysql/error.log
default-time-zone       = '+8:00'