[mysqld]
sql-mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO
authentication-policy   = caching_sha2_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
skip-log-bin
slow-query-log          = ON
long-query-time         = 1
slow-query-log-file     = /var/log/mysql/slow.log
log-error               = /var/log/mysql/error.log
default-time-zone       = 'Asia/Shanghai'
